# Copy this file to .env.portainer before deploying
PORT=4400
HOST_BIND=0.0.0.0
APP_URL=http://192.168.1.115:4400
NEXT_PUBLIC_APP_URL=http://192.168.1.115:4400
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
COOKIE_SECURE=false
